
:root {
    --htmlFontSize: 100%;

    --bodyColor: var(--baseColor);
    --bodyFontFamily: "Open Sans";
    --bodyFontFamilyFallback: sans-serif;
    --bodyFontSize: 0.875rem;
    --bodyFontWeight: 400;
    --bodyLineHeight: 1.5;
}

:root {
    --loginBorderRadus: 0.25rem;
    --loginColor: #eee;

    --loginInputBackgroundColor: #f0f2f5;
    --loginInputHoverBackgroundColor: #dae0e7;

    --loginLabelBackgroundColor: #f0f2f5;

    --loginSubmitBackgroundColor: #004EFF;
    --loginSubmitColor: #eee;
    --loginSubmitHoverBackgroundColor: #3852e7;
    --buttonBackgroundColor: #32CD32;

}

.option {
    display: flex;
    border: solid 1px var(--loginSubmitBackgroundColor);
    padding: 20px 2vw;
    margin: 40px 4vw 10px 4vw;
    border-radius: 5px;
    font-size: 1.2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
}

.option:hover {
    background: var(--loginSubmitBackgroundColor);
    color: white;
}

.arrow-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title {
    margin: 40px 4vw;
    display:flex;   
    justify-content: space-between; 
}

.dashboard-form {
    background: var(--loginInputBackgroundColor);
    padding: 20px 2vw;
    margin: 4px 4vw;
    border-radius: 5px;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

}

.dashboard-input {
    display: block;
    padding: 10px 5px 10px 5px;
    font-size: 1em;
    flex-grow: 1;
}

.dashboard-h2 {
    font-size: 1.1em;
    margin-top: 20px;
    font-weight: 300;
}

.flexbox-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.padded-box {
    border: solid 1px var(--loginSubmitBackgroundColor);
    padding: 2vw 2vw;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1.1em;
    margin-right: 10px;
    margin-top: 10px;
}

.padded-box:hover {
    background: rgba(0,0,0,0.5);
    color: white;
}

.dashboard-button {
    font-size: 1.3em !important;
    margin-top: 20px !important;
    padding: 10px !important;
    border-radius: 10px !important;
    background-color: var(--buttonBackgroundColor) !important;
}